<a href="https://colab.research.google.com/github/jerlinvillalobos/Laboratorios/blob/main/TP1/Laboratorio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/figures/escuela-de-economia.png?raw=1" width="260" height="60">
<center>
    <b>EC4300 MICROECONOMETRÍA</b><br>
    <b>Asistente: Jerlin Villalobos </b>
<br><br>
<b>Laboratorio 2:</b>
<br>    
<div style="font-size:250%;color:white; background-color: #0064b0;">Introducción a Python</div>
<div style="font-size:175%;color:white; background-color: #0064b0;">Parte 2: Colecciones</div>    

</center>
<br><br>
<p style="font-size:120%;">Este cuaderno toma como fuente los cuadernos de Jupyter desarrollados por Phd. Randall Romero. Se toma el
    <a href="https://colab.research.google.com/github/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/Python-03--Colecciones.ipynb"> Lab de python 03</a>



</p>

<i> Última actualización del cuaderno original: 2020-Ago-18
    <br>
    Creado: Julio 31, 2024
</i>

<hr>

## Tipos de colecciones
Los tipos de colecciones más utilizados son
* `list` una lista ordenada y mutable de valores
* `tuple` una lista ordenada e inmutable de valores
* `set` una lista mutable pero no ordenada de valores
* `dict` un diccionario no ordenado

# Listas

## Haciendo listas
Para hacer una lista, enumeramos sus elemento entre un par de ```[ ]```
* Recordar que las listas van ordenadas, cada elemento tiene su posición, y los elementos de la lista empiezan en cero.

In [2]:
seasons = ['Spring', 'Summer','Autumn','Winter']
seasons

['Spring', 'Summer', 'Autumn', 'Winter']

![seasons](https://github.com/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/figures/list-diagram.png?raw=1)

Las listas pueden tener elementos heterogéneos, puede tener letras, números.

In [3]:
mylist = [4, 3.0, 'abc', 5, 8, -3, 0 , 2]

In [4]:
mylist

[4, 3.0, 'abc', 5, 8, -3, 0, 2]

### Para obtener los datos, colocamos la posición del elemento que queremos ver

In [5]:
seasons[2]

'Autumn'

In [6]:
seasons[-3]

'Summer'

### Para modificar los datos, solo indicamos la posición que queremos que cambie de nombre.

In [7]:
seasons[2] = 'Fall'
seasons

['Spring', 'Summer', 'Fall', 'Winter']

## *Slicing*

Para obtener una franja de datos, los números dentro de los corchetes especifican el rango de valores que se quieren extraer de la lista original.



```
# mylist[inicio:fin-1]
```


Esto significa que se seleccionan los elementos desde el índice inicio hasta el índice fin-1. Es importante notar que el índice fin no se incluye en la sublista.

In [8]:
mylist

[4, 3.0, 'abc', 5, 8, -3, 0, 2]

In [9]:
mylist[2:4]

['abc', 5]

En el siguiente sería, desde la posición inicial hasta la posición 3, sin incluir esa posición 3

In [10]:
mylist[:3]

[4, 3.0, 'abc']

En el siguiente sería, desde la posición 5 hasta el final, y si incluye el final

In [11]:
mylist[5:]

[-3, 0, 2]

Desde la posición -2 hasta el final

In [12]:
mylist[-2:]

[0, 2]

In [13]:
mylist[3:4] # a pesar de que es un solo elemento, retorna una lista

[5]

In [14]:
mylist[3]

5

In [15]:
mylist[3:3]

[]

Ahora, queremos tomar los valores de dos en dos, desde el inicio.

In [16]:
mylist[::2]

[4, 'abc', 8, 0]

Acá, le indico desde cual posición iniciar y desde esa posición que tome los valores de dos en dos.

In [17]:
mylist[1::2]

[3.0, 5, -3, 2]

## Copiando una lista

### `nueva_lista = vieja_lista` hace una variable nueva que apunta a la misma lista que la lista anterior:

In [18]:
otralista = mylist

In [19]:
otralista

[4, 3.0, 'abc', 5, 8, -3, 0, 2]

In [20]:
otralista[0] = 99999

In [21]:
otralista

[99999, 3.0, 'abc', 5, 8, -3, 0, 2]

In [22]:
mylist

[99999, 3.0, 'abc', 5, 8, -3, 0, 2]

Vemos que es la misma lista al comparar sus `id`:
En Python, `id`() es una función integrada que devuelve el identificador único de un objeto. Este identificador es un número entero que es único y constante para el objeto durante su ciclo de vida. El identificador puede utilizarse para comparar si dos variables apuntan al mismo objeto en la memoria.

In [23]:
print(id(otralista), id(mylist),sep='\n')

133137623907456
133137623907456

In [24]:
otralista is mylist

True

### `nueva_lista = vieja_lista.copy()` hace una copia *independiente* de la original:

Anteriormente, vimos que al cambiar un elemento de "otralista" también cambiaba los elementos de "mylist", si queremos trabajar de forma independiente cada lista, lo correcto es usar .copy()

In [25]:
copialista = mylist.copy()
copialista[-1] = 'copia independiente de la original'
print('copialista = ', copialista) #acá le estamos pidiendo
print('mylist     = ', mylist)
print('otralista  = ', mylist)
print(f'copialista es {id(copialista)}',  f'mylist     es {id(mylist)}', f'otralista  es {id(otralista)}',  sep='\n')

copialista =  [99999, 3.0, 'abc', 5, 8, -3, 0, 'copia independiente de la original']
mylist     =  [99999, 3.0, 'abc', 5, 8, -3, 0, 2]
otralista  =  [99999, 3.0, 'abc', 5, 8, -3, 0, 2]
copialista es 133137273009152
mylist     es 133137623907456
otralista  es 133137623907456

## Manipulando listas

In [ ]:
fruit = ['apple','orange','grape','kiwi']

##### ```list.append(x)``` Agrega el elemento ```x``` al final de la lista

In [ ]:
fruit.append('apple')
fruit

['apple', 'orange', 'grape', 'kiwi', 'apple']

##### ```list.extend(L)``` Agrega todos los elementos de la lista ```L``` al final de la lista

In [ ]:
fruit.extend(['mango','banana','kiwi'])
fruit

['apple', 'orange', 'grape', 'kiwi', 'apple', 'mango', 'banana', 'kiwi']

##### ```list.insert(i,x)``` Inserta el elemento ```x``` en la posición de índice ```i```

In [ ]:
fruit.insert(2,'guava')
fruit

['apple',
 'orange',
 'guava',
 'grape',
 'kiwi',
 'apple',
 'mango',
 'banana',
 'kiwi']

##### ```len(list)``` cuenta el número de elementos de la lista

In [ ]:
len(fruit)

9

##### ```list.remove(x)``` Elimina el primer elemento ```x``` de la lista, acá eliminamos por el nombre.

In [ ]:
fruit.remove('kiwi')
fruit

['apple', 'orange', 'guava', 'grape', 'apple', 'mango', 'banana', 'kiwi']

##### ```list.pop(i)``` Eliminina el elemento en la posición ```i``` y lo retorna, es decir, podemos usar el elemento eliminado como una variable

In [ ]:
fruit.pop()

'kiwi'

In [ ]:
kiwi=fruit.pop()
kiwi # me da el valor de la variable eliminada

'banana'

In [ ]:
fruit

['apple', 'orange', 'guava', 'grape', 'apple', 'mango', 'banana']

##### ```list.index(x)``` Retorna el índice del primer elemento ```x``` de la lista

In [ ]:
fruit.index('grape')

3

##### ```list.count(x)``` Retorna el número de veces que aparece ```x``` en la lista

In [ ]:
fruit.count('apple')

2

##### ```list.sort()``` Ordena todos los elementos de la lista, in situ, lo ordena por letra

In [ ]:
fruit.sort()
fruit

['apple', 'apple', 'banana', 'grape', 'guava', 'mango', 'orange']

##### ```list.reverse()``` Revierte el orden de todos los elementos de la lista, in situ

In [ ]:
fruit.reverse() #este sirve solo para darle vuelta a la lista
fruit

['orange', 'mango', 'guava', 'grape', 'banana', 'apple', 'apple']

In [ ]:
fruit.sort(reverse=True)  #lo ordena de forma "descendente"
fruit

['orange', 'mango', 'guava', 'grape', 'banana', 'apple', 'apple']

# Tuplas

Una tupla es similar a una lista, pero una vez que se define **sus elementos no pueden cambiarse**. Se define enumerando sus elementos entre un par de  ```( )```

No se pueden modificar del todo.

In [ ]:
seasons = ('Spring', 'Summer','Autumn','Winter')

![seasons](https://github.com/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/figures/tuple-diagram.png?raw=1)

Para obtener datos:

In [ ]:
seasons[2]

'Autumn'

In [ ]:
seasons[-3]

'Summer'

Sin embargo, los datos no se pueden modificar

In [ ]:
seasons[2] = 'Fall'

NameError: name 'seasons' is not defined

Las tuplas también entienden de franjas, es decir, podemos seguir en los renglones de abajo

In [ ]:
M = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', \
'Jul','Aug','Sep','Oct','Nov','Dec')

In [ ]:
# To split the months into quarters:
Q1, Q2, Q3, Q4 = M[:3], M[3:6], M[6:9], M[9:]
Q2

('Apr', 'May', 'Jun')

In [ ]:
M

('Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec')

Para hacer una tupla de un único elemento:

In [ ]:
mal=(9)
type(mal)

int

In [ ]:
solo = (55, )

In [ ]:
type(solo)

tuple

# Conjuntos
Para hacer un conjunto, enumeramos sus elementos entre ```{ }```. Alternativamento, transformamos una lista en un conjunto usando la función ```set```.

In [ ]:
M2 = {2, 4, 6, 8, 10, 12, 14} #podemos definirlo así o llamando la función set
M3 = set([3, 6, 9, 12, 15])

##### ```set.add(x)``` Agrega un elemento ```x``` al conjunto

In [ ]:
M2.add(16)
M2

{2, 4, 6, 8, 10, 12, 14, 16}

##### ```set.update([x,y,z])``` Agrega varios elementos al conjunto

In [ ]:
M3.update([18, 21])
M3

{3, 6, 9, 12, 15, 18, 21}

##### ```set.copy()``` Retorna una copia del conjunto

In [ ]:
M2c = M2.copy()
M2c

{2, 4, 6, 8, 10, 12, 14, 16}

##### ```set.pop()``` Elimina al azar un elemento del conjunto

In [ ]:
M2c.pop()

6

In [ ]:
M2c

##### ```set.discard(x)``` Elimina el elemEnto ```x``` del conjunto (si es miembro)

In [ ]:
M2c.discard(10)
M2c

{8, 12, 14, 16}

##### ```set1.union(set2)``` Retorna elementos que aparecen en cualquiera de los conjuntos, une los conjuntos

In [ ]:
M2.union(M3)

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 21}

##### ```set1.intersection(set2)``` Retorna elementos que aparecen en los dos conjuntos

In [ ]:
M3.intersection(M2)

{6, 12}

##### ```set1.difference(set2)``` Retorna elementos del conjunto ```set1``` que no estén en ```set2```

In [ ]:
M2.difference(M3)

{2, 4, 8, 10, 14, 16}

##### ```set1.isdisjoint(set2)``` True si los conjuntos no tienen elementos en común

In [ ]:
M2.isdisjoint(M3)

False

# Diccionarios
* En Python un “diccionario” es un contenedor de datos que puede almacenar múltiples elementos de datos como una lista de pares `llave:valor`.
* A diferencia de las listas y tuplas, cuyos datos se obtienen por referencia a su índice, los valores almacenados en un diccionario se obtienen por referencia a su llave. Además, los datos se pueden modificar
* La llave debe ser única en el diccionario, usualmente se usa un texto aunque también puede usarse números.

Si ponemos dos valores con la misma llave, lo que hace es reemplazar ese elementos

In [ ]:
king = {'name': 'John Snow',
        'age': 24,
        'home': 'Winterfell'}

In [ ]:
king

{'name': 'John Snow', 'age': 24, 'home': 'Winterfell'}

In [ ]:
king1= {'name': 'John Snow', 'age': 24, 'age': 2}
king1 # como vemos, reemplaza el valor

{'name': 'John Snow', 'age': 2}

Los diccionarios se pueden crear con la función ```dict```:

In [ ]:
friend = dict(name='Samwell Tarly', age=22)

In [ ]:
friend

{'name': 'Samwell Tarly', 'age': 22}

Obteniendo datos

In [ ]:
king['age']

24

Modificando datos:

In [ ]:
king['home'] = 'Castle Black'
king

{'name': 'John Snow', 'age': 24, 'home': 'Castle Black'}

Agregando datos:

In [ ]:
king['lover'] = 'Ygritte'
king['knows'] = None

In [ ]:
king

{'name': 'John Snow',
 'age': 24,
 'home': 'Castle Black',
 'lover': 'Ygritte',
 'knows': None}

Borrando datos:

In [ ]:
del king['lover'] # killed by Olly!

In [ ]:
king

{'name': 'John Snow', 'age': 24, 'home': 'Castle Black', 'knows': None}

Para almacenar un texto muy largo, podemos encerrarlo en triples comillas dobles:

In [ ]:
king['lover'] = """Daenerys Stormborn of the House Targaryen, First of Her Name,
The Unburnt, Queen of the Andals and the First Men, Khaleesi of the Great Grass Sea,
Breaker of Chains, and Mother of Dragons"""

In [ ]:
print(king['lover'])

Daenerys Stormborn of the House Targaryen, First of Her Name,
The Unburnt, Queen of the Andals and the First Men, Khaleesi of the Great Grass Sea,
Breaker of Chains, and Mother of Dragons