<a href="https://colab.research.google.com/github/jerlinvillalobos/Laboratorios/blob/main/TP1/Laboratorio_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/figures/escuela-de-economia.png?raw=1" width="260" height="60">
<center>
    <b>EC4300 MICROECONOMETRÍA</b><br>
    <b>Asistente:  Jerlin Villalobos, </b>
<br><br>
<b>Laboratorio 3:</b>
<br>    
<div style="font-size:250%;color:white; background-color: #0064b0;">Introducción a Python</div>
<div style="font-size:175%;color:white; background-color: #0064b0;">Parte 4: Control de ejecución</div>    

</center>
<br><br>
<p style="font-size:120%;">Este cuaderno toma como fuente los cuadernos de Jupyter desarrollados por Phd. Randall Romero. Se toma el
    <a href="https://colab.research.google.com/github/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/Python-04--Control%20de%20ejecuci%C3%B3n.ipynb"> Lab de python 04</a>



<i> Última actualización del cuaderno original: 2020-Ago-18
    <br>
    Creado: Agosto 1, 2024
</i>

<hr>

* Los programas usualmente se ejecutan corriendo cada instrucción en el orden en que aparecen
* Pero en ocasiones, necesitamos ejecutar las  instrucciones de otra manera.
* Para ello, usamos instrucciones de control de ejecución:
- ```if, elif, else``` ejecuta algunas instrucciones una vez, pero solo si cierta condición es verdadera
- ```while``` ejecuta algunas instrucciones varias veces, solo mientras que cierta condición sea verdadera
- ```for``` ejecuta algunas instrucciones varias veces, iterando sobre un iterable
- ```continue``` brinca a la siguiente iteraciónde un bucle  `while` o `for`
- ```break``` detiene la ejecución de un bucle `while` o `for`

# Ejecución condicional con `if`

* La palabra clave ```if``` evalúa una expresión para obtener un valor `True` o `False`.
* Esto permite que un programa proceda en diferentes direcciones de acuerdo con el resultado del test.
* La expresión evaluada debe ser seguida de dos puntos ```:```, luego las instrucciones que se evaluan si el test es verdadero deben escribirse en líneas separadas e indentadas respecto a la línea que contiene el ```if```.
* El tamaño de la indentación no es importante, pero debe ser el mismo en cada línea.
* Por tanto, la sintaxis se ve así:
```
if test-expression:
   statements-to-execute-when-test-expression-is-True
   statements-to-execute-when-test-expression-is-True
```

Por ejemplo, para determinar si un número ```m``` es par o impar:

Recordar que ``` % ``` se llama módulo y es para obtener el residuo de una división.

In [ ]:
m = 7
if m % 2 == 0:
    print('m is even')
else:
    print('m is odd')

m is odd

El test no necesariamente tiene que ser un boolean. El número `0`, el valor `None`, y un texto vacío `''`, lista vacía `[]`, tupla vacía `()` o conjunto vacío `{}`, todos son interpretados como  `False`.

In [ ]:
if m % 5:
    print('m is not divisible by 5')
else:
    print('m is divisible by 5')

m is not divisible by 5

El código if m % 5: es una forma abreviada de escribir if m % 5 != 0:. Cuando no se especifica una comparación explícita (==, !=, etc.), Python evalúa si la expresión es True o False. Así, if m % 5: es equivalente a preguntar "¿El residuo de dividir m por 5 es algo diferente de 0?

In [ ]:
if m % 5 != 0 :
    print('m is not divisible by 5')
else:
    print('m is divisible by 5')

m is not divisible by 5

In [ ]:
horas = 10

if horas < 12:
    ampm = 'a.m.'
else:
    ampm = 'p.m.'

ampm

'a.m.'

In [ ]:
# Otra forma de hacerlo
horas = 10
if horas < 12:
  print('a.m.')
else:
  print('p.m.')

a.m.

In [ ]:
ampm1 = 'a.m.' if horas < 12 else 'p.m.'
ampm1

'a.m.'

## Examinando condiciones
Algunas veces necesitamos asignar un valor dependiendo de una condición, como así
```
if testExpression:
    x = ifTrueThis
else:
    x = ifFalseThis
```
Esto es equivalente a :
```
x = ifTrueThis if testExpression else ifFalseThis
```
Por ejemplo

In [ ]:
n = 17
z = "n is odd" if n % 2 else "n is even"

z

'n is odd'

# Iterando `while` true i

* Un bucle es una pieza de código que automáticamente se repite.
* Una ejecución completa de todas las instrucciones dentro de un bucle se llama una “iteración”.
* El tamaño del buche se controla con un test condicional que se ejecuta dentro del bucle.
* Mientras que la expresión evaluada sea  ```True``` el bucle continuará –-- hasta que la expresión sea ```False```, punto en el cual el bucle termina.
* En programas de Python, la palabra clave ```while``` crea un bucle. Es seguida por la expresion a evaluar y dos puntos ```:```.
* Las instrucciones que se deben evaluar cuando el test pasa (sea ```True```) deben seguir abajo en líneas separadas, y cada línea debe estar indentada con el mismo espacio respecto a la línea que tiene el ```while```.
* Este bloque de instrucciones debe incluir una instrucción que en algún momento cambie el resultado del test a ```False``` --- de lo contrario el bucle será infinito.
* Por tanto, la sintaxis se ve así:

```
while test-expression :
    statements-to-execute-when-test-expression-is-True
    statements-to-execute-when-test-expression-is-True
```

Por ejemplo, para obtener la serie de Fibonacci hasta 100

In [ ]:
#La secuencia de Fibonacci es una serie de números donde cada número es la suma de los dos números anteriores, comenzando con 0 y 1
a, b = 0, 1

while b < 100:
    print(b, end=', ')
    a, b = b, a + b

#print(b, end=', '): En cada iteración del bucle, se imprime el valor de b, seguido de una coma y un espacio.
# El argumento end=', ' especifica que, en lugar de terminar la línea, la salida continuará en la misma línea con una coma
#y un espacio después de cada número

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

Un enfoque distinto, pero que incluye el primer elemento que se pasa de 100

In [ ]:
fib = [1, 1]   #lista que contiene los primeros dos números de Fibonacci

while fib[-1]<100:     #recordar la posición -1
    fib.append(fib[-2] + fib[-1])    #suma la suma de los dos últimos elementos de la lista
else:
    fib.pop()    #elimina el último elemento de la lista


fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## La función ```range```
Algunas veces necesitamos iterar sobre los enteros. Podemos generarlos con la función ```range```.

Devuelve los números del 0 al 5, para verlos, lo usamos en una lista.

In [ ]:
range(6)

range(0, 6)

Para ahorrar memoria, ```range``` retorna sus elementos uno a la vez, solo cuando se necesita, para evitar usar demasiada memoria. En los ejemplos que siguen convertimos objetos ```range``` en listas para poder imprimir sus elementos.

`range(n)` retorna enteros de ```0``` a ```n-1```

In [ ]:
list(range(6))

[0, 1, 2, 3, 4, 5]

`range(m, n)` retorna enteros de ```m``` a ```n-1```

In [ ]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

`range(m, n, s)` retorna enteros de ```m``` a ```n-1```, de ```s``` en ```s```

In [ ]:
list(range(2,9,3))

[]

También podemos crear un ```range``` con el orden invertido:

In [ ]:
list(range(4, 0,-1))

[4, 3, 2, 1]

### Comparando la cantidad de memoria necesaria

In [ ]:
from sys import getsizeof

getsizeof(list(range(1_000_000)))

8000056

In [ ]:
getsizeof(range(1_000_000))

48

# Iterando sobre los elementos de un iterable: `for`

En Python la palabra clave ```for``` itera sobre todos los elementos de cualquier iterable que aparezca luego de la palabra clave ```in```.

La sintaxis se ve así:

```
for item in iterable :
    statements-to-execute-on-each-iteration
    statements-to-execute-on-each-iteration
```    

Ejemplos de iterables:
* rangos
* listas, tuplas, conjutos, diccionarios
* textos
* archivos de texto
* arreglos de números

### Iterando sobre textos

In [ ]:
for letter in 'abcd':
    print(letter.upper())

### Iterando sobre enteros

In [ ]:
for k in range(6):
    print(k**2)

0
1
4
9
16
25

### Iterando líneas de un archivo de texto

In [ ]:

archivo = open("/content/dias_sem.csv", "r")
texto=archivo.readlines()   #crear una lista dond cada elemento es una celda del archivo de excel, pero Python no entiende las tabulaciones y por eso lo pone como \n
lista_dias=[]
archivo.close()
for e in texto:
    dia_arreglado=e.replace("\n","")   #creo la variable y quito ese \n
    lista_dias.append(dia_arreglado)
print(lista_dias)
print(texto)

['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
['Lunes\n', 'Martes\n', 'Miercoles\n', 'Jueves\n', 'Viernes\n', 'Sabado\n', 'Domingo\n']

### Iterando los elemetos de un diccionario

In [ ]:
king = {'name': 'John Snow',
        'age': 24,
        'home': 'Castle Black',
        'lover': 'Ygritte',
        'knows': None}

for llave, valor in king.items():
    print(f"king[{llave}] = {valor}")

## enumerate

Para llevar cuenta del número de iteración usamos ```enumerate```

In [ ]:
for i, letter in enumerate('abcd'):
    print(f'{i} = {letter}')

0 = a
1 = b
2 = c
3 = d

In [ ]:
for i, letter in enumerate('abcd'):
    print(f'Estoy en la iteración {i:d} = {letter}')

Estoy en la iteración 0 = a
Estoy en la iteración 1 = b
Estoy en la iteración 2 = c
Estoy en la iteración 3 = d
Estoy en la iteración 4 = e

## zip

Para iterar dos iterables en paralelo, usamos `zip`

In [ ]:
quantities = [3, 2, 4]
fruits = ('apple','banana','coconut')

for n, fruit in zip(quantities,fruits):
    print(f'{n} {fruit}s')

## *List comprehensions*

* *List comprehension* es una manera elegante de definir una lista basado en otra lista (un iterable).
* Generalmente son más compactas y rápidas que los bucles tradicionales.
* No obstante, debemos evitar *list comprenhension* demasiado largas para que el código sea claro.

### Caso más sencillo

A veces necesitamos hacer una lista de elementos a partir de otro iterable, como con este código

```
lst = list()
for item in iterable:
    lst.append(expression)
```

Esto puede hacer más sucintamente con

```
lst = [expression for item in iterable]
```

Por ejemplo, para obtener una lista de los cuadrados de los números del 1 al 14:

In [ ]:
miscuadrados = []

for k in range(1,15):
    miscuadrados.append(k**2)

miscuadrados

In [ ]:
miscuadrados2 = [k**2 for k in range(1,15)]
miscuadrados2

In [ ]:
[k**2 for k in range(1,15) if k%2==1]
  if k

Para contar las letras en una lista de palabras

In [ ]:
food = ['apple','banana','carrot','grape','kiwi']

[len(item) for item in food]

### Caso con un condicional

A veces necesitamos además que se satisfaga alguna condición en la iteración, como con este código
```
lst = list()
for item in iterable:
    if conditional:
        lst.append(expression)
```

Esto puede hacer más sucintamente con

```
lst = [expression for item in iterable if conditional]
```

Por ejemplo, para generar los cuadrados de los números pares menores que 12

In [ ]:
lista1 = list()

for k in range(1,12):
    if k % 2 == 0:
        lista1.append(k**2)

lista1

In [ ]:
lista2 = [k**2 for k in range(1, 12) if not k%2]
lista2